<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add Product</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
        src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
        <script src="/angular.js"></script>
        <link rel="stylesheet" type="text/css" href="/styles.css" />
        <link rel="stylesheet"
              href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />

    </head>
    <body>
       
   <div class="navbar">
              <ul><li style="float:left"><a  href="/"><img src="/images/logo.png" alt="Description" width="100" height="30"/></a></li>
                    <li><a class="active" href="ManageProducts.html">Add Products</a></li>
                     <li><a class="active" href="UpdateProduct.html">Update Products</a></li>
                  
                    <li><a class="active" href="DeleteProduct.html">Delete Products</a></li>
                      
                    <li><a href="/">Log Out</a></li>             
                </ul>
                
            </div>
      
            <div class="row">
                <div class="col-4" style="float:left;">

                </div>
                <div class="col-4" style="float:left;">
                    <h1>Welcome Administrator</h1>
                </div>
                <div class="col-4" style="float:left;">

                </div>
            </div>
 <div class="container" ng-app="app">
            <div class="row">

                <div ng-controller="postProductController" class="col-md-6">

                    <h1> Add Products </h1>
                    <form name="add" ng-submit="submitProduct(add.$valid)">

                        <div class="form-group" ng-class="{ 'has-error' : add.productname.$invalid}"> 
                            <input type="text" name="productname" class="form-control" ng-model="productname" placeholder="Enter Product Name" required="true"/>
                            <p ng-show="add.productname.$invalid" class="help-block">Product Name is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : add.productquantity.$invalid}"> 
                            <input type="text" name="productquantity" class="form-control" ng-model="productquantity" placeholder="Enter Product Quantity" required="true"/>
                            <p ng-show="add.productquantity.$invalid" class="help-block">Product Quantity is required.</p>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : add.unitprice.$invalid}"> 
                            <input type="text" name="unitprice" class="form-control" ng-model="unitprice" placeholder="Enter Product Price" required="true"/>
                            <p ng-show="add.unitprice.$invalid" class="help-block">Product Unit Price is required.</p>
                        </div>

                        <div> 
                           
                            <label>Choose Product image</label>

                            <input type="file" id="fileItem"/>

                        </div>  
                        <br/>
                        
                        <div class="form-group" ng-class="{ 'has-error' : add.productType.$invalid}">
                            <select ng-model="productType" class="sel" required="true">
                                <option value="">--Choose Product Type--</option>
                                <option value="Burger">Burger</option>
                                <option value="Pizza">Pizza</option>
                                <option value="BBQ">BBQ</option>
                                <option value="Pastry">Pastry</option>
                            </select>
                           
                        </div>

                       
                        
                         <div class="form-group" ng-class="{ 'has-error' : add.restName.$invalid}">
                               <p ng-init="getAllRestaurant1()"></p>
                              <label>Please Choose the Restaurant</label><br/>
                              <div ng-show="showAllRestaurant1">
                            <select ng-model="restName" class="sel" required="true">
                                
                                <option value="">--Choose a Restaurant--</option>
                                 <option  value="{{restuarant.restuarantName}}" ng-repeat="restuarant in AllRestData.data" ng-click="input()">{{restuarant.restuarantName}}</option>  
                            </select>
                            </div>  
                              
                        </div>
                        

                          

                        
                        <br/><button class="btn-panel-big2">Add New Product</button>
                    </form>
                    <br />
                    <p class="results">{{postResultMessage}}</p>

                </div>

            </div>

            <div class="row">
                <br/>
                <br/>
            </div>

            <div class="row">

                  <div ng-controller="getProductByNameDeleteController" class="col-md-6"  ng-show="false">
                    <h1> Delete Products</h1>

                    <input type="text" class="form-control" ng-model="productnames" placeholder="Enter Product Name"/><br />
                    <button ng-click="getProductByName()">Get Product</button>

                    <div ng-show="showProductByName">
                        <table class="new">
                            <td ng-repeat="product in allproductsbyname.data">

                                {{product.id}}<br />
                                Product Name: <input type="text" value="{{product.productName}}" ng-disabled="true"/><br />
                                Price: <input type="text" value="{{product.unitPrice}}" ng-disabled="true"/><br />
                                Quantity: <input type="text" value="{{product.productQuantity}}" ng-disabled="true"/><br />

                                <button ng-click="deleteProduct(product)">Delete Product</button>
                            </td>
                        </table>

                    </div>

                    <p class="results">{{getResultMessage}}</p>

                </div>

              <div ng-controller="getProductByNameUpdateController" class="col-md-6" ng-show="false">
                    <h1> Update Products</h1>

                    <input type="text" class="form-control" ng-model="productnames" placeholder="Enter Product Name"/><br />
                    <button ng-click="getProductByName()">Get Product</button>

                    <div ng-show="showProductByName">
                        <table class="new">
                            <td ng-repeat="product in allproductsbyname.data">

                                Product ID:{{product.id}}<br />
                                Product Name: {{product.productName}}<input type="text" ng-model="product.productNames"/><br />
                                Product Price: {{product.unitPrice}}<input type="text" ng-model="product.unitPrices"/><br />
                                Product Quantity: {{product.productQuantity}}<input type="text" ng-model="product.productQuantitys"/><br />

                                <button ng-click="updateProduct(product)">Update Product</button>
                            </td>
                        </table>

                    </div>

                    <p class="results">{{getResultMessage}}</p>

                </div> 

            </div>

        </div>    
    </body>
</html>
